
    body {
        margin: 0;
        padding: 0;
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        color: #333;
      }
      
      .navbar {
        display: flex;
        justify-content: center;
        padding: 20px 0;
      }
      
      .navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      
      .navbar li {
        display: inline-block;
        margin: 0 20px;
      }
      
      .navbar a {
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
        font-size: 18px;
      }
      
      .back {
        width: 100%;
        height: 100vh;
        background-image: url('background1.webp');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      .hero button {
        width: 200px;
        padding: 15px 0;
        margin-bottom: 100px;
        text-align: center;
        border-radius: 25px;
        font-weight: bold;
        border: 2px solid #009688;
        background: #ffffff;
        color: #009688;
        cursor: pointer;
        transition: background 0.3s, color 0.3s;
      }
      
      .hero button:hover {
        background: #009688;
        color: #ffffff;
      }
      
      .featured-projects {
        padding: 50px 20px;

      }
      
      .featured-projects h1 {
        font-size: 36px;
        color: #333;
      }
      
      .project {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #ffffff;
        margin: 20px 0;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      
      .images img {
        max-width: 700px; /* Increased from previous width */
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin-right: 20px;
      }
      
      .description {
        flex: 1;
      }
      
      .description h2 {
        font-size: 28px;
        color: #2088f0;
        margin-bottom: 20px;
      }
      
      .description p {
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 20px;
      }
      
      .description button {
        width: 150px;
        padding: 10px 0;
        text-align: center;
        border-radius: 25px;
        font-weight: bold;
        border: 2px solid #2088f0;
        background: #ffffff;
        color: #2088f0;
        cursor: pointer;
        transition: background 0.3s, color 0.3s;
      }
      
      .description button:hover {
        background: #2088f0;
        color: #ffffff;
      }
      
